<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<!-- https://jsonobject.hashnode.dev/guide-to-real-time-object-logging-in-kotlin-spring-boot-using-graylog -->
<configuration scan="true">

    <appender name="TEXT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="TEXT_CONSOLE"/>
    </root>

</configuration>
