name: Code checks

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read
  checks: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          check-latest: true
      - run: ./gradlew ktlintCheck || { cat ./build/reports/ktlint/ktlintMainSourceSetCheck/ktlintMainSourceSetCheck.txt; exit 1; }
